exportPattern("^[[:alpha:]]+")
import(rgl)
import(compositions)
import(phyloseq)
import(rlang)
import(PERMANOVA)
importFrom("graphics","hist")
importFrom("stats","sd")
importFrom("stats","median")
import(geometry)
import(vegan)
importFrom("ape","pcoa")
import(ks)
importFrom("StereoMorph","orthogonalProjectionToLine")
